.app-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 300px;
}

.plano-item {
  cursor: pointer;
  padding: 6px;
  border: 1px solid #ddd;
  margin-bottom: 6px;
  background: #fff;
  transition: background 0.2s ease;
}

.plano-item:hover {
  background: #f3f3f3;
}

.plano-item-ativo {
  background: #e6ffee;
}

.plano-view {
  flex: 1;
}
