.plano-area {
  position: relative;
  overflow: hidden;

  /* FUNDO MÉDIO (nem claro, nem escuro) */
  background: #b8bcc4;     /* cinza grafite claro e agradável */

  border: 2px solid #8ab4f8;
  border-radius: 8px;

  box-shadow: inset 0 0 0 1px #a6aab3;

  /* GRID levemente mais escuro que o fundo */
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.10) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.10) 1px, transparent 1px);

  background-size: 50px 50px;
}
