.plano-wrapper {
  display: flex;
  flex-direction: column;
}

.plano-area {
  position: relative;
  border: 2px solid #222;
  background: #fafafa;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #eee;

  /* === GRID 50px === */
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 50px 50px; /* grid spacing */
}
